@model oSportApp.Models.Player

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h4>@Model.FirstName @Model.LastName </h4>
            <button type="button" onclick="location.href='@Url.Action("Edit","Players", new { id = Model.Id})'" class="btn btn-primary">Edit</button>
            <button type="button" onclick="location.href='@Url.Action("Delete","Players", new { id = Model.Id})'" class="btn btn-danger">X</button>
        </div>        
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h4>Teams</h4>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Team Name
                        </th>
                        <th>
                            <button type="button" onclick="location.href='@Url.Action("Create","TeamPlayers", new { id = Model.Id})'" class="btn btn-primary">Join Team</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Teams)
                    {
                        <tr>
                            <td>
                                @item.CoachTeam.Team.Name
                            </td>
                            <td>
                                <button type="button" onclick="location.href='@Url.Action("Dashboard","Players", new { id = item.Id})'" class="btn btn-primary">Dashboard</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


