@model oSportApp.Models.OwnerLeague

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-6">
        <h1>@Model.League.Name</h1>
    </div>
    <div class="col-lg-6">


    </div>
</div>


<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <h4>Approved Teams</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Team
                            </th>
                            <th>
                                Capacity
                            </th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ApprovedTeams)
                        {
                            <tr>
                                <td>
                                    @item.Team.Name
                                </td>
                                <td>
                                    @item.Team.Capacity
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Team's Pending Approval</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Team
                            </th>
                            <th>
                                Capacity
                            </th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PendingTeams)
                        {
                            <tr>
                                <td>
                                    @item.Team.Name
                                </td>
                                <td>
                                    @item.Team.Capacity
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Approved Referees</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ApprovedReferees)
                        {
                            <tr>
                                <td>
                                    @item.Referee.FirstName @item.Referee.LastName
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Referee's Pending Approval</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PendingReferees)
                        {
                            <tr>
                                <td>
                                    @item.Referee.FirstName @item.Referee.LastName
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <h4>Matches</h4>
        <button type="button" onclick="location.href='@Url.Action("Create","MatchDays", new { id = Model.Id})'" class="btn btn-primary">Create Matches</button>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Home Team
                    </th>
                    <th></th>
                    <th>
                        Away Team
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Matches)
                {
                    <tr>
                        <td>
                            @item.Match.HomeTeam.Name
                        </td>
                        <td>
                            @item.Match.AwayTeam.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>