@model oSportApp.Models.OwnerLeague

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-6">
        <h1>@Model.League.Name</h1>
    </div>
    <div class="col-lg-6">
        

    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <h4>Approved Teams</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Team
                            </th>
                            <th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ApprovedTeams)
                        {
                            <tr>
                                <td>
                                    @item.CoachTeam.Team.Name
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("Suspend", "LeagueTeams", new { id = item.Id})'" class="btn btn-danger">Suspend</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Team's Pending Approval</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Team
                            </th>                            
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PendingTeams)
                        {
                        <tr>
                            <td>
                                @item.CoachTeam.Team.Name
                            </td>
                            <td>
                                @item.Approved
                            </td>
                            <td>
                                <button type="button" onclick="location.href='@Url.Action("Approve", "LeagueTeams", new { id = item.Id})'" class="btn btn-primary">Approve</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                <h4>Matches</h4>
            </div>
            <div class="col-lg-6">
                <button type="button" onclick="location.href='@Url.Action("Generate", "Matches", new { id = Model.Id})'" class="btn btn-primary">Create Matches</button>
            </div>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Home Team
                            </th>
                            <th></th>
                            <th>
                                Away Team
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Matches)
                        {
                            <tr>
                                <td>
                                    @item.HomeTeam.CoachTeam.Team.Name
                                </td>
                                <td>
                                    vs.
                                </td>
                                <td>
                                    @item.AwayTeam.CoachTeam.Team.Name                                  
                                </td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("Details", "Matches", new { id = item.Id})'" class="btn btn-primary">Details</button>
                                    <button type="button" onclick="location.href='@Url.Action("Edit","Matches", new { id = item.Id})'" class="btn btn-primary">Edit</button>
                                    <button type="button" onclick="location.href='@Url.Action("Delete","Matches", new { id = item.Id})'" class="btn btn-danger">X</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h4>Fields</h4>
            </div>
            <div class="col-lg-6">
                <button type="button" onclick="location.href='@Url.Action("Create", "Fields", new { id = Model.League.SportId})'" class="btn btn-primary">Add Field</button>
            </div>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Field
                            </th>
                            <th>
                                Sport Type
                            </th>
                            <th>
                                Address
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Fields)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Sport.Name
                                </td>
                                <td>
                                    @item.StreetAddress
                                    <br />
                                    @item.City, @item.State
                                    <br />
                                    @item.ZipCode
                                </td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("Edit","Fields", new { id = item.Id})'" class="btn btn-primary">Edit</button>
                                    <button type="button" onclick="location.href='@Url.Action("Delete","Fields", new { id = item.Id})'" class="btn btn-danger">X</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

