@model oSportApp.Models.CoachTeam

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <h1>@Model.Team.Name</h1>
    </div>
    <div class="col-lg-6">
        <button type="button" onclick="location.href='@Url.Action("Create", "LeagueTeams", new { id = Model.Id})'" class="btn btn-primary">Join League</button>
        <h4>Leagues Joined</h4>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            League
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Leagues)
                    {
                        <tr>
                            <td>
                                @item.OwnerLeague.League.Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <h2>Upcoming Matches</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Home Team
                        </th>
                        <th></th>
                        <th>
                            Away Team
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Matches)
                    {
                        <tr>
                            <td>
                                @item.HomeTeam.CoachTeam.Team.Name
                            </td>
                            <td>
                                vs.
                            </td>
                            <td>
                                @item.AwayTeam.CoachTeam.Team.Name
                            </td>
                            <td>
                                <button type="button" onclick="location.href='@Url.Action("Details", "Matches", new { id = item.Id})'" class="btn btn-primary">Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <h4>Approved Players</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Player Name
                            </th> 
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ApprovedPlayers)
                        {
                            <tr>
                                <td>
                                    @item.Player.FirstName @item.Player.LastName
                                </td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("Suspend", "TeamPlayers", new { id = item.Id})'" class="btn btn-danger">Suspend</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Player's Pending Approval</h4>
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Player Name
                            </th>
                            <th>
                                Approved?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PendingPlayers)
                        {
                            <tr>
                                <td>
                                    @item.Player.FirstName @item.Player.LastName
                                </td>
                                <td>
                                    @item.Approved
                                </td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("Approve", "TeamPlayers", new { id = item.Id})'" class="btn btn-primary">Approve</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>